.main{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table{
  width: 80%;
  /* height: 10vh; */
  background-color: rgb(190, 182, 182);
  border-radius: 10px;
  padding: 20px;
  margin : 40px;
}

.table-row{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(190, 182, 182);
}

.item{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 200px;
}

.heading{
  margin: 2px;
  font-weight: 700;
  font-size: 18px;
  padding: 2px;
}

button{
  height: 30px;
  width: 120px;
  background-color: rgb(243, 97, 97);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

li{
  display: flex;
  flex-direction: column;
}

.container{
  margin-top: 20px;
  height: 300px;
  width: 100%;
  background-color: rgb(233, 236, 234);
  border: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.right, .left{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.detail{
  font-size: medium;

}

p{
  font-weight: 800;
}